@use "../../styles/variables" as v;

.cart {
  width: 100%;
  box-sizing: border-box;
  min-height: 18rem;
  background-color: white;
  padding: 1.5rem;
  border-radius: 1rem;

  

  &__title {
    font-size: 1.6rem;
    font-weight: 700;
    margin: 1rem 0;
    color: v.$color-Red;
  }

  &__figure{
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__empty{
    max-width: 100%;
    max-height: 10rem;
    width: auto;
    height: auto;
    display: inline-block;
  }

  &__label{
    color: v.$color-Rose-500;
    font-weight: 600;
  }

  &__list{
    width: 100%;
  }

  &__total{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__total_price{
    font-size: 24px;
    font-weight: 700;
  }

  &__delivery{
    width: 100%;
    background-color: v.$color-background;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: 14px;
  }


  &__carbon{
    font-weight: 700;
  }

  &__confirm{
    background-color: v.$color-Red;
    width: 100%;
    padding: 1rem;
    color: white;
    font-weight: 700;
    font-size: v.$font-size-main;
    border-radius: 2rem;
    border: none;
    margin: 1rem 0;
  }
}
