h1{
    font-size: 2.4rem;
    font-weight: 700;
    margin: 0;
}

.container{
    display: flex;
    gap: 2px;
    padding: 4rem 7rem;
    align-items: flex-start;

    &__dessert{
        width: 65%;
        margin: 0;
    }

    &__list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
        gap: 3px;
    }

    &__cart{
        width: 35%;
    }
}

